.main {
    margin-top: 20em;
}

.question, .topic {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
}

.long.modal {
    height: 500px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.modalcontent {
    word-wrap: break-word;
    white-space: pre-line;
}

.scrollable {
    height: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.toggle {
    visibility: hidden;
}

.actions {
    position: absolute;
    bottom: 0;
    width: 100%;
}



#inner {
    display: table;
    margin: 0 auto;
    border: 1px solid black;
    justify-content: center;

}
  
#outer {
    border: 1px solid red;
    width:100%
}
div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }