{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codestyles.css') }}">
{% endblock %}
{% block content %}
    <div class="ui segment">

          <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="inverted circular search link icon"></i>
          </div>


        <div class="ui stackable grid">
            {% for card in cards %}
            <div class="four wide column" >
            <div class="ui fluid card">
                    <div class="content">
                        <div class="topic ellipsis header">
                            {{card.topic}}                        
                        </div>
                        <div class="question ellipsis meta">
                            <a class="bug popup icon item" >
                                <i class="world icon"></i>
                              </a>
                            {{card.question}}
                        </div>
                        <div class="question ellipsis meta">
                            <a class="bug popup icon item" >
                                <i class="edit icon"></i>
                              </a>
                            {{card.difficulty}}
                        </div>
                        <div class="description">
                        </div>
                    </div>
                    <div class="extra content" onmouseover="showDescription(this)" onmouseout="showDescription(this)">
                        <div class="sixteen wide column">
                            <div class="ui left floated yellow button toggle" onclick="showModal(this)">See Card</div>
                            <a class="ui right floated green button toggle" href="/cards/{{card.id}}">Edit!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="ui green right corner label"
                        data-content="Add a new Flash Card."
                        data-position="right center">
                        <a href="/cards/new"><i class="add icon" style="cursor: pointer;"></i></a> 
    </div>
    <div class="ui labeled icon top right pointing dropdown right floated big teal button">
        <i class="filter icon"></i>
        <span class="text">Filter Cards</span>
            <div class="scrollable menu">
                <div class="ui search icon input">
                    <i class="search icon"></i>
                    <input type="text" name="search" placeholder="Search cards...">
                </div>
                <div class="divider"></div>
                <div class="header">
                    <i class="tags icon"></i>
                    Filter by category
                </div>
                <a class="item" href="/cards/category/vocabulary">
                    <div class="ui blue empty circular label"></div>
                    Vocab
                </a>
                <a class="item" href="/cards/category/grammar">
                    <div class="ui blue empty circular label"></div>
                    Grammar
                </a>
                <a class="item" href="/cards/category/dictation">
                    <div class="ui yellow empty circular label"></div>
                    Dictation
                </a>
                <a class="item" href="/cards">
                    <div class="ui green empty circular label"></div>
                    All
                </a>
                <div class="divider"></div>
                <div class="header">
                    <i class="code icon"></i>
                    Filter by topic
                    {% for card in cards %}
                    <a class="item"href="/cards/topic{{card.topic}}">
                    <OPTION value={{card.topic}} >{{card.topic}}</option>
                    </a>
                    {% endfor %}
                </div>

                <div class="divider"></div>
                <div class="header">
                    <i class="code icon"></i>
                    Filter by difficulty
                    {% for card in cards %}
                    <OPTION value={{card.difficulty}}>{{card.difficulty}}</option>
                        
                    {% endfor %}
                </div>
                {% set seq = ['blue', 'red', 'green', 'yellow', 'black', 'olive', 'violet', 'orange', 'purple', 'pink', 'brown'] %} 

            </div>
    
    </div>
    <div class="ui long modal">
        <i class="close icon"></i>
        <div class="modaltitle header">
            Test
        </div>
        <div class="modalcontent content"> 
            <!-- Question/Code goes here! -->
            (this)
        </div>
        <div class="actions">
            <div class="ui red deny button">
            Hm, review!
            </div>
            <div class="ui labeled button" tabindex="0">
                <div class="ui red button">
                  <i class="heart icon"></i> Like
                </div>
                <a class="ui basic red left pointing label">
                  1,048
                </a>
            </div>
            <div class="ui positive right labeled icon button">
            Yep, I know this one!
            <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}