{% extends "base.html" %}
    {% block content %}    
    <div class="ui main container">
        <div class="ui stackable grid">
            <!--<div class="row">
                <div class="ten column wide center aligned">
                    <div class="ui two statistics">
                        <div class="statistic animated zoomIn">
                            <div class="value">
                            {{ total_cards }}
                            </div>
                            <div class="label">
                                Number of Card(s)
                            </div>
                        </div>  
                        <div class="statistic animated zoomIn">
                            <div class="value">
                                {{ all_topics_len }}
                            </div>
                            <div class="label">
                            Different Topic(s)
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="row">
                <div class="eight wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui black ribbon label">Question</a>
                        <a class="item">
                            <i class="icon play"></i> Prounanciation
                            <div class="floating ui red label">{{ card.difficulty }}</div>
                          </a>
                        <div class="ui red right corner label"
                        data-content="Difficulty."
                        data-position="right center">
                            <a ><i class="" ></i></a> 
                        </div class="">
                        {% if card %}
                        <h1 class="ui header ellipsis topic">{{ card.topic }}</h1>
                        {% else %}
                        <h1 class="ui header ellipsis topic">Topic will go here:</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="eight wide column" >  
                    <div class="ui tall stacked segment">
                        <a class="ui green ribbon label">Answer</a>
                        <div class="ui green right corner label"
                        data-content="Add a new Flash Card."
                        data-position="right center">
                            <a href="/cards/new"><i class="add icon" style="cursor: pointer;"></i></a> 
                        </div class="content_section">
                        
                        {% if card%}
                        <h1 class="ui header ellipsis question">{{ card.question }}</h1>
                        {% else %}
                        <h1 class="ui header ellipsis question">Question will go here:</h1>
                        {% endif %}
                        
                    </div>
                </div>
            </div>


            <div class="inner">
                    <form action="/inc/{{card.id}}" method="POST" class="ui forminc">
                            <div class="field"style="display: none;">
                                <!-- <input type="text" name="question" value="{{ card.question }}"> -->
                                <textarea name="difficulty" >{{ card.difficulty }}</textarea>
                            </div>
                        <div class="ui labeled button" >
        
                            <button type="submit"iv class="ui red button">
                              <i class="world icon"></i> No Idea
                            </button>
                            <a class="ui tag label">Hard :( </a>
        
                            {% if card%}
        
                            <a class="ui basic yellow left pointing label">
                                {{ card.difficulty }}
                            </a>
                            {% endif %}
                        </div>
                        </form>
            </div>


                    <div class="inner">
                        <form action="/dec/{{card.id}}" method="POST" class="ui formdec">
                            <div class="field"style="display: none;">
                                <!-- <input type="text" name="question" value="{{ card.question }}"> -->
                                <textarea name="difficulty" >{{ card.difficulty }}</textarea>
                            </div>
                        <div class="ui labeled button" >
                            <button type="submit"iv class="ui green button">
                                <i class="world icon"></i> I knew it 
                            </button>
                            <a class="ui tag label">Easy :) </a>
        
                            {% if card%}
                            <a class="ui basic yellow left pointing label">
                                {{ card.difficulty }}
                            </a>
                            {% endif %}
                        </div>
                        </form>
                    </div>
                <div class="row">
                    <div class="eight wide column">
                        {% if card%}
                        <div class="sixteen wide column">
                            <a class="ui left floated big green button" href="/"><i class="right arrow icon"></i> Next Random Card!</a>
                            <a class="ui left floated big blue button" href="/cards">Show all cards</a>
                        </div>               
                        {% endif %}
                    </div>
                </div>

            
        </div>
    </div> 
    {% endblock %}