{% extends "base.html" %}
    {% block content %}    
    <div class="ui text container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="ten column wide center aligned">
                    <div class="ui two statistics">
                        <div class="statistic animated zoomIn">
                            <div class="value">
                            {{ total_cards }}
                            </div>
                            <div class="label">
                                Number of Card(s)
                            </div>
                        </div>  
                        <div class="statistic animated zoomIn">
                            <div class="value">
                                {{ temp }}
                            </div>
                            <div class="label">
                                Hardest Level
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui tall stacked segment">
                        <a class="ui black ribbon label">Question</a>
                        <a class="item">
                            <i class="icon play"></i> Prounanciation
                            <div class="floating ui red label">{{ card.difficulty }}</div>
                          </a>
                        <div class="ui red right corner label"
                        data-content="Difficulty."
                        data-position="right center">
                            <a ><i class="" ></i></a> 
                        </div class="">
                        {% if card %}
                        <h1 class="ui header ellipsis topic">{{ card.topic }}</h1>
                        {% else %}
                        <h1 class="ui header ellipsis topic">Topic will go here:</h1>
                        {% endif %}
                    </div>
                </div>
                <h4 class="ui horizontal divider header">
                    <i class="thumbtack icon"></i>
                   
                </h4>

                <div class="sixteen wide column" >  
                    <div class="ui tall stacked segment">
                        <a class="ui green ribbon label" >Answer</a>
                        <div class="ui green right corner label"
                        data-content="Add a new Flash Card."
                        data-position="right center">
                            <a href="/cards/new"><i class="add icon" style="cursor: pointer;"></i></a> 
                        </div class="content_section">
                        
                        {% if card%}
                        <h2 >{{ card.question }}</h2>
                        {% else %}
                        <h1 class="ui header ellipsis question">Question will go here:</h1>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        <!--
            <button type="submit" class="ui circular teal button" onclick=""><i class="eye slash outline icon"></i>unhide Ans!</button>
            -->


            <div class="inner">
                    <form action="/inc/{{card.id}}" method="POST" class="ui forminc">
                            <div class="field"style="display: none;">
                                <!-- <input type="text" name="question" value="{{ card.question }}"> -->
                                <textarea name="difficulty" >{{ card.difficulty }}</textarea>
                            </div>
                        <div class="ui labeled button" >
                            <button type="submit"iv class="ui red button">
                              <i class="battery quarter icon"></i> No Idea 
                            </button>
                            <a class="ui tag label"><i class="thumbs down icon"></i>Hard  </a>
                            {% if card%}
                            <a class="ui basic yellow left pointing label">
                                {{ card.difficulty }}
                            </a>
                            {% endif %}
                        </div>
                    </form>
            </div>


            <div class="inner">
                        <form action="/dec/{{card.id}}" method="POST" class="ui formdec">
                            <div class="field"style="display: none;">
                                <!-- <input type="text" name="question" value="{{ card.question }}"> -->
                                <textarea name="difficulty" >{{ card.difficulty }}</textarea>
                            </div>
                        <div class="ui labeled button" >
                            <button type="submit"iv class="ui green button">
                                <i class="battery full icon"></i> I knew it 
                            </button>
                            <a class="ui tag label"><i class="thumbs up outline icon"></i>Easy </a>
                            {% if card%}
                            <a class="ui basic yellow left pointing label">
                                {{ card.difficulty }}
                            </a>
                            {% endif %}
                        </div>
                        </form>
            </div>
            <h4 class="ui horizontal divider header">
                <i class="graduation cap icon"></i>
               
            </h4>


            <div class="row">
                    <div class="eight wide column">
                        {% if card%}
                        <div class="sixteen wide column">
                            <div class="ui labeled button">
                            <a class="ui left floated big green button" href="/"><i class="right arrow icon"></i> Next Random Card!</a>
                            </div>
                            <h4 class="ui horizontal divider header">
                                <i class="database icon"></i>
                               
                            </h4>

                            <div class="ui labeled button">
                            <a class="ui left floated big blue button" href="/cards">Show all cards</a>
                            </div>
                        </div>               
                        {% endif %}
                    </div>
            </div>


        </div>
    </div> 
    {% endblock %}