{% extends "base.html" %}
    {% block content %}
    <div class="ui main container">
        <form action="/cards/new" method="POST" class="ui form">
            <div class="field">
                <label for="topic">Question</label>
                <input type="text" name="topic"> 
            </div>
            <div class="field">
                <label for="question">Answer</label>
                <!-- <input type="text" name="question">
                 -->
                <textarea name="question" id="" cols="30" rows="20"></textarea>
            </div>


            <div class="field">
                <label class="input-group-text" for="difficulty">Options</label>
                <select class="form-select" name="difficulty">
                  <option selected value="0">Choose...</option>
                  <option  value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option  value="4">Four</option>
                  <option value="5">Five</option>
                  <option value="6">Six</option>
                  <option  value="7">Seven</option>
                  <option value="8">Eight</option>
                  <option value="9">Nine</option>
                </select>
              </div>

            <!--<div class="field">
                <label for="category">category</label>
                <input type="text" name="category"> 
            </div>-->


              
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="category" value="vocabulary" required>
                        <label>Vocabulary</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="category" value="grammar" required>
                        <label>Grammar</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="category" value="dictation" required>
                        <label>Dictation</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="ui circular teal button">Submit!</button>
        </form>
    </div>
    {% endblock %}
